{{ define "host" }}
    {{ $host := .Host }}
    {{ $tld := .Tld }}
    {{ if eq $tld "" }}
        {{ range $index, $network := .Container.Networks }}
            {{ if ne $network.IP "" }}
address=/{{ $host }}/{{ $network.IP }}
            {{ end }}
        {{ end }}
    {{ else }}
        {{ range $index, $network := .Container.Networks }}
            {{ if ne $network.IP "" }}
address=/{{ $host }}.{{ $tld }}/{{ $network.IP }}
address=/{{ $host  }}.{{ $network.Name  }}.{{ $tld  }}/{{ $network.IP  }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

{{ $CurrentContainer := where $ "ID" .Docker.CurrentContainerID | first }}
{{ $primaryTld := (or (index $CurrentContainer.Labels "dns.tld") ($CurrentContainer.Env.DOMAIN_TLD) "docker") }}

{{/* jwilder/nginx-proxy compatible */}}
{{ range $host, $containers := groupByMulti $ "Env.VIRTUAL_HOST" "," }}
    {{ range $index, $container := $containers }}
        {{ template "host" (dict "Container" $container "Host" (print $host) "Tld" "") }}
    {{ end }}
{{ end }}

{{/* ahmetalpbalkan/wagl compatible */}}
{{ range $index, $container := (whereLabelExists . "dns.service") }}
    {{ with $container }}
        {{ $tld := (or (index .Labels "dns.tld") $primaryTld) }}
        {{ $service := index .Labels "dns.service" }}
        {{ $domain := index .Labels "dns.domain" }}

        {{ if gt (len $domain) 0 }}
            {{ template "host" (dict "Container" $container "Host" (print $service "." $domain) "Tld" $tld) }}
        {{ else }}
            {{ template "host" (dict "Container" $container "Host" (print $service) "Tld" $tld) }}
        {{ end }}
    {{ end }}
{{ end }}
